# {{ ansible_managed  }}
{% for host in groups['all'] %}
  {{ hostvars[host]['ansible_all_ipv4_addresses'][0] }}         {{ hostvars[host]['inventory_hostname'] }} {{ hostvars[host]['inventory_hostname_short'] }}
{% endfor %}
